.modalAddFleet-input .MuiInputBase-input {
  color: #b3b3b3ff;
}

.modalAddFleet-input .MuiInputLabel-root {
  color: #b3b3b3ff;
}

.modalAddFleet-input .MuiInputLabel-root.Mui-focused {
  color: #b3b3b3ff;
}

.modalAddFleet-input .MuiOutlinedInput-root fieldset {
  border-color: #b3b3b3ff;
}

.modalAddFleet-input .MuiOutlinedInput-root:hover fieldset {
  border-color: #b3b3b3ff;
}

.modalAddFleet-input .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #b3b3b3ff;
}
